<div class="card">
    <div class="card-body"></div>
    <h1>Aboout</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae recusandae harum explicabo ducimus aliquid
        quisquam animi velit dicta ut ullam.</p>
</div>